{% load staticfiles %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forgotpassword.css' %}">
    

  </head>
    <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="active"> Forgot password </h2>
    
      
        <div class="fadeIn first">
          <img src="{% static 'css/2493738-medium190ap.jpg' %}" alt="My image">
        </div>
    
  
        <form action="{% url 'forgotpassword' %}" method="post">
          {% csrf_token %}
          <input type="text" class="fadeIn second" name="username" placeholder="username">
          <input type="text" class="fadeIn third" name="phonenumber" placeholder="Phone number">
          <input type="submit" class="fadeIn fourth" value="Send password to Mail">
        </form>
    
      </div>
    </div>
    </body>
</html>
