<!-- {% load staticfiles %} -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="forgotpassword.css">
    

  </head>
    <body>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <h2 class="active"> Forgot password </h2>
    
      
        <div class="fadeIn first">
          <img src="2493738-medium190ap.jpg" alt="My image">
        </div>
    
  
        <form action="{% url 'signin' %}" method="post" onsubmit="return validateform()">
          <!-- {% csrf_token %} -->
          <input type="text" class="fadeIn second" id = "username" name="userconnected" placeholder="Your username">
          <input type="password" class="fadeIn third" id = "password" name="passwordconnected" placeholder="Phone number">
          <input type="submit" class="fadeIn fourth" value="Sent to Mail">
        </form>
    
      </div>
    </div>
    </body>
</html>
